.container-fluid {
    background-color: #1abc9c

}
.container-fluid img {
    width: 15rem;
    background: #1abc9c;
    border-radius: 100%;
}

.star {
    position: relative;
}
.star::before {
    content: "";
    width: 70px;
    height: 5px;
    background-color: white;
    position: absolute;
    left: -80px;
    top: 15px;
}
.star::after {
    content: "";
    width: 70px;
    height: 5px;
    background-color: white;
    position: absolute;
    right: -80px;
    top: 15px;
}